# Отключить установку дополнительных платформо-зависимых бинарных файлов
omit=optional
platform=
arch=
libc=
node-linker=hoisted
public-hoist-pattern=*
shamefully-hoist=true
strict-peer-dependencies=false 